* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #eaeaea;
    display: grid;
    place-items: center;
}

h1,
h2,
h3,
h4,
h5,
input,
p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #221e1e;

}

textarea:focus, input:focus{
    outline: none;
}

a {
    text-decoration: none;
}

#form__create {
    margin-top: 15px;
    display: grid;
    width: 80vw;
    grid-template-columns: 18fr 4fr;
    gap: 15px;
}

#form__create input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 28px;
    font-weight: 700;
    height: 60px;
}

#form__create input.submit {
    background-color: #35d8ac;
    cursor: pointer;
    transition: 0.5s;
}

#form__create input.submit:hover {
    transform: scale(1.1);
}


.leaderboard__products {
    margin: 25px 0;
    max-width: 80vw;
    background-color: #fff;
    border-radius: 12px;
    display: grid;
    row-gap: 8px;
}

.leaderboard__product {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 10px 30px 10px 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    cursor: pointer;
    transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
    background-color: #fff;
}

.leaderboard__product.unavailable {
    background-color: #fde6e6;
}

.leaderboard__product:hover {
    transform: scale(1.2);
    box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
}

.leaderboard__image {
    max-width: 100%;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
}

.leaderboard__image.unavailable {
    box-shadow: 0 0 0 10px #fdc6c6, 0 0 0 22px #facdcd;
}

.leaderboard__name {
    color: #979cb0;
    font-weight: 600;
    font-size: 18px;
}

.leaderboard__price {
    color: #35d8ac;
    font-weight: 700;
    font-size: 34px;
    text-align: right;
}

.unavailable {
    color: #d83535;
}

ul {
  list-style: none;
}
.context-menu { 
  position: absolute; 
} 
.menu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
  padding: 10px 0;
}
.menu > li > h3 {
  font: inherit;
  border: 0;
  padding: 10px 30px 10px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: unset;
  color: #000;
  font-weight: 500;
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
}
.menu > li > h3:hover {
  background:#f1f3f7;
  color: #4b00ff;
}
.menu > li > h3 > i {
  padding-right: 10px;
}
.menu > li.trash > h3:hover {
  color: red;
}