{% include "head.html" %}

<main class="leaderboard__products">
    {% for item in items %}
    <a href="{{ item.link }}" target="_blank">
        <article class="leaderboard__product">
            <img src="{{ item.image }}" alt="{{ item.name }}" class="leaderboard__image">
            <span class="leaderboard__name">{{ item.name }}</span>
            <span class="leaderboard__price">R$: {{ item.price|floatformat:-2 }}</span>
        </article>
    </a>
    {% endfor %}
    {% for item in unavailableItems %}
    <a href="{{ item.link }}" target="_blank">
        <article class="leaderboard__product unavailable">
            <img src="{{ item.image }}" alt="{{ item.name }}" class="leaderboard__image unavailable">
            <span class="leaderboard__name unavailable">{{ item.name }}</span>
        </article>
    </a>
    {% endfor %}
</main>

{% include "footer.html" %}