{% include "head.html" %}

<div>
    <form method="POST" id="form__create">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="submit" value="Inserir">
    </form>
</div>

{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="alert {{ message.tags }}" {% endif %}>
    {{ message }}
</div>
{% endfor %}
{% endif %}

<main class="leaderboard__products">
    {% for item in items %}
    <a class="link__item" href="{{ item.link }}" target="_blank" data-identifier="{{ item.id }}">
        <article class="leaderboard__product" data-identifier="{{ item.id }}">
            <img src="{{ item.image }}" alt="{{ item.name|truncatechars:90 }}" class="leaderboard__image">
            <span class="leaderboard__name">{{ item.name|truncatechars:90 }}</span>
            <span class="leaderboard__price">R$: {{ item.price|floatformat:2 }}</span>
            <span class="leaderboard__verified">Verificado:
                {{ item.updated_at|date:"SHORT_DATETIME_FORMAT" }}</span>
        </article>
    </a>
    {% endfor %}

    {% for item in unavailableItems %}
    <a class="link__item" href="{{ item.link }}" target="_blank" data-identifier="{{ item.id }}">
        <article class="leaderboard__product unavailable" data-identifier="{{ item.id }}">
            <img src="{{ item.image }}" alt="{{ item.name|truncatechars:90 }}" class="leaderboard__image unavailable">
            <span class="leaderboard__name unavailable">{{ item.name|truncatechars:90 }}</span>
            <span class="leaderboard__verified">Verificado: {{ item.updated_at|date:'Y-m-d H:i' }}</span>
        </article>
    </a>
    {% endfor %}
</main>
{% include "footer.html" %}